.header {
    grid-area: h;
    background-color: mediumseagreen;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
    color: white;
}

.out {
    color: blue;
    text-decoration: underline;
    cursor: pointer

}